// Use this as a scaffold for creating your own themes!

// ----||--------------------------
//     || VARIABLES
// ====||==========================

// Override any foundation variables (from foundation_and_overrides.css.scss) here.
@import "foundation_and_overrides";

// ----||--------------------------
//     || LANDING PAGE
// ====||==========================

// $bio-background-color: $primary-color;
// $bio-foreground-color: #000;
// $profile-image-size: 200px;
// $featured-content-header-font-size: 1.6em;
// $project-screenshot-left-margin: -22px;

.top-bar-section {
  ul.right a {
    &:hover {
      color: $primary-color;
    }

    li a {
      &:hover {
        i {
          color: $primary-color;
        }
      }
      i {
        cursor: pointer;
      }
    } 
  } 
}

.profile-row {
  //border-style: none;
  .bio h2 {
    color: white;
  }
}

.profile {
  img {
  }
}

.bio {

  h2, h3, p {
  }
}

.featured-element-row {
}

section.latest-from-blog, section.featured-project {
  h2 {
  }

  h3 {
  }
}

section.featured-project {
  img {
  }
}

// ----||--------------------------
//     || PORTFOLIO
// ====||==========================

// $project-screenshot-left-margin: -22px;

.portfolio {

  h2 {
    padding-left: 1.3%;
  }

  .project {
    padding-left: 5%;

    .screenshot {

      img {
        box-shadow: 1px 6px 16px #CCC;
      }
    }

    .description {
      h3 {
      }

      p {
      }

      .source-link {

        i {
        }

        a {

          &:hover {
          }
        }
      }
    }
  } 
}

// ----||--------------------------
//     || About me
// ====||==========================

.about {
  div {
    margin: 0;
  }
  h2 {
    padding-left: 1.3%;
  }

  h3#plot {
    text-align: right;
    padding-right: 43%;
  }

  .portrait {
    img{
      border-radius: 4px;
    }
  }
  .img-row {
    @include grid-row;
    
    img.circle {
      border-radius: 50%;
      padding: 5px 5px 5px 5px;
    }
  }
  .left-hand {
    width: 20%;
  } 
  #right-hand {
    img{
      padding: 5px 5px 5px 5px;
    }
  }
  .description {
    display: inline-block;
    padding-left: 5%;
  }
}