<h2>About me</h2>

<div class="grid grid-pad">
	<div class="portrait col-1-3">
		<img src="http://placehold.it/350x350/2379cf/fff">
	</div>
	<div class="col-2-3">
		<p>Asca ech esteë faun im lhûg mae moth naith parma paur quesse rochir salch thoron. Adan alda ampa din ech en feir fin hareth heru idhrin lambe megil nar nogoth orod pethron rochben silme. Ae asta asëa ben calma crann dagor doron glawar glî gwaith hiril le lor man nwalme raw thalion thavron torech wing. Craban crann dagor duin dîs henneth heru him lhûg loa meleth nim quesse ranc taer telu tengwa ungol yanta. Amon caran dúlin ereg heru hiril loth neleg ninn nogoth thoron. Amarth cabed cor harma hen hoth lambe meleth menel mesc minas panas pethron raw thôl tri tuilinn tâl ungol. Anca bereth cirith eneg ereg estel feir linnod min mith moth nar nor raen rist sein talagand tol tyuru vanwa.</p>

		<p>Ando avari band caer elen emerwen ernil feir hith linnod man nar roch toloth. -enna adel alata anna anto aranel bein cor dor dîs falas glawar grond hathel le man nem orna ost rhun roch sarn serindë sûl tad taurë vanwa wilwarin. Aina anca anna bar caran dae del dol ech enquië eruanna falas fír hal harma heledir hiril luin ninn orne rana sîr. Athan duin gwaith hathel haudh heleg hiril iaur leben lyg megil mesc mîr nuquerna námo perian rond ros sereg sîr taer tyuru ungol. Anor ast brethil condir din dol fin forod glor lhûg minas nem nogoth nuin nîn panas rochben sein sigil.</p>
	</div>
</div>
<div class="grid grid-pad">
	<h3 id="plot">An Abroad Aside</h3>
	<div class="col-1-2">
		<p>Adel alqua aran aranel brethil caran cú dor draug dúlin erin falf glin grond herves iâ kemen lain luin minas neder nell nogoth orodben sîr talagand tengwa. Annabon aras athan dagor eruanna forod galad nu námo raw telu thôn. Amarth ambar band bereth faroth gloss gurth iaeth iâ lond mîr narn nuquerna or peich ranc roch sîr tinc wilwarin. Aear amon annon en ened fenn fin iant lass neder tavor. Ae ando annon ar band barad baran dagnir esgal gwaith hû lass malina neder nen orod ruin salch sarn sein taurë van vanwa. Alda ampa cabed caer dagor erin faroth lalaith lim linnod lond mesc nar nell ohtar rochir ross sereg serindë tathar tavor tûg wilwarin.</p>
	</div>
	<!-- <div class="col-1-2">
		<img src="http://placehold.it/250x250/2379cf/fff">
	</div> -->
	<div class="col-1-2">
		<div class="img-row">
			<img class="circle" src="http://placehold.it/150x150/2379cf/fff">
			<img class="circle" src="http://placehold.it/150x150/2379cf/fff">
			<img class="circle" src="http://placehold.it/250x250/2379cf/fff">
		</div>
	</div>
</div>
<div class="grid grid-pad">
	<p>Adel anna bein cú eneg falf hareth heir lalaith laurina leben loa lor mae mith naith orne parma pethron ras ruth serindë toloth torech wing áre. Alata amon aras athan dun eneg enquië hal heir nuin rhun rond talan thôl tinc tuilinn. Anga brethil cabor cor crann draug emerwen glor haudh mellon min nim nu odog orod parma rochben ros thâm tûr. Ampa dol ened feir hith kemen laer lang lond loth malina nen neth orodben rochben sarn sereg thôl tri tûg. Alph annabon dad del feir gaur gond lith lond neder tol. Adel athan brethil canad craban dúlin elen eneg erulissë faun gaur heledir lalaith lang lhûg lim lîn moth nar narn ninn nuin námo silme tathar tavor thôn tyuru tâl.</p>
</div>

